section.text-block {
    display: flex;
    align-items: center;
}

section.text-block.bg-color-yellow p,
section.text-block.bg-color-gray p,
section.text-block.bg-color-black p,
section.text-block.bg-color-primary p
{
    margin-top: 10px;
    margin-bottom: 0;
}

section.text-block.space-top-yes {
    padding-top: 100px;
}

section.text-block.space-bottom-yes {
    padding-bottom: 100px;
}

section.text-block.space-top-no {
    padding-top: 0;
}

section.text-block.space-bottom-no {
    padding-bottom: 0;
}


section.text-block p.wp-block-gn-text-block {
    margin-top: 10px;
}


section.text-block .textBlock-text strong a{
    font-size: 18px;
}

section.text-block .textBlock-text a{
    font-size: 18px;
    color: var(--mucivi-primary);
}

section.text-block .textBlock-text a:hover{
    color: var(--mucivi-primary-dark);
}

section.text-block.bg-color-primary .textBlock-text a{
    font-size: 18px;
    color: var(--mucivi-medium-black);

}


section.text-block.bg-color-gray .textBlock-text a:hover,
section.text-block.bg-color-black .textBlock-text a:hover,
section.text-block.bg-color-blue .textBlock-text a:hover,
section.text-block.bg-color-primary .textBlock-text a:hover
{
    text-decoration: underline;
}

section.text-block .textBlock-text.text-block-sRichText p{
    margin-bottom: 1rem;
}





