section.news-block hr.horizontal-line {
    border-top: 1px solid;
    opacity: 1;
    display: block;
    margin: 15px auto 25px auto;
}

section.news-block h2.category-title {
    font-size: 35px;
    font-weight: var(--font-weight-600);
}


section.news-block h2.category-post-title {
    font-size: 25px;
}

section.news-block .category-post-title a {
    color: var(--mucivi-black);
}

section.news-block .category-post-title a:hover {
    color: var(--mucivi-primary);
}

section.news-block span.category-date {
    font-size: 14px;
    color: var(--mucivi-newsroom-gray);
    font-weight: var(--font-weight-400);
    text-transform: uppercase;
}

section.news-block a.btn-full {
    width: auto;
}

@media (max-width: 991px) {
    section.news-block .post-3 {
        display: none;
    }
}

@media (max-width: 767px) {
    section.news-block .post-2 {
        display: none;
    }
}


@media (max-width: 575px) {
    section.news-block{
        padding: 0 20px;
    }
}

