.granit-block.hero-section-banner-2.text---mucivi-black{
    color: var(--mucivi-black);
}

.granit-block.hero-section-banner-2.text---mucivi-white{
    color: var(--mucivi-white);
}

.granit-block.hero-section-banner-2.text---mucivi-blue-dark{
    color: var(--mucivi-primary);
}

.granit-block.hero-section-banner-2.text---mucivi-extra-light-gray{
    color: var(--mucivi-extra-light-gray);
}


/* background colors */
.granit-block.hero-section-banner-2.bg---mucivi-black{
    background-color: var(--mucivi-black);
}
.granit-block.hero-section-banner-2.bg---mucivi-white{
    background-color: var(--mucivi-white);
}

.granit-block.hero-section-banner-2.bg---mucivi-blue-dark{
    background-color: var(--mucivi-primary-dark);
}

.granit-block.hero-section-banner-2.bg---mucivi-extra-light-gray{
    background-color: var(--mucivi-extra-light-gray);
}
