.teaser-block .teaser-item {
    flex-basis: 32%;
    background-color: var(--mucivi-white);
    text-align: center;
    box-shadow: 5px 5px 10px #00000042;
    padding-bottom: 60px;
}
.teaser-block .teaser-item.no-btn {
    padding-bottom: 20px;
}

@media (max-width: 991px) {
    .teaser-block .teaser-item {
        flex-basis: 47%;
    }
}

@media (max-width: 767px) {
    .teaser-block .teaser-item {
        flex-basis: 30%;
    }
}

.teaser-block .teaser-item img {
    border: 10px solid #FFF;
}

.teaser-block .teaser-item .teaser-description {
    padding: 0 10px;
}

/*design type 2 */
.teaser-block .teaser-item-grid {
    flex-basis: 48%;
    background-color: var(--mucivi-white);
    box-shadow: 5px 5px 10px #00000042;
}

.teaser-block .teaser-item-grid img {
    border: 10px solid #FFF;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teaser-block .teaser-item-grid .teaser-description {
    padding-right: 10px;
}

@media (max-width: 991px) {
    .teaser-block .teaser-item-grid {
        flex-basis: 100%;
    }
}


@media (max-width: 767px) {
    .teaser-block .teaser-item-grid{
        flex-basis: inherit;
    }
}

@media (max-width: 575px) {
    .teaser-block .teaser-item-grid {
        text-align: center;
    }
    .teaser-block .teaser-item-grid .teaser-description {
        padding-right: 10px;
        padding-left: 10px;
    }
}

/*design image only */
.teaser-block .teaser-item-image-only {
    flex-basis: 23.5%;
    background-color: var(--mucivi-white);
    box-shadow: 5px 5px 10px #00000042;
}

.teaser-block .teaser-item-image-only img {
    border: 10px solid #FFF;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .teaser-block .teaser-item-image-only {
        flex-basis: 32%;
    }

}

@media (max-width: 991px) {
    .teaser-block .teaser-item-image-only {
        flex-basis: 47%;
    }
}


@media (max-width: 767px) {
    .teaser-block .teaser-item-image-only{
        flex-basis: inherit;
    }
}

@media (max-width: 575px) {
    .teaser-block .teaser-item-image-only {
        text-align: center;
    }
}

/*design image link 2 items */
.teaser-block p.partner-title{
    font-size: 24px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--sss-gold);
}
.teaser-block .teaser-item-two-items {
    flex-basis: 48.5%;
    flex-direction: column;
}

.teaser-block .teaser-item-two-items img {
    border: 10px solid #FFF;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    background-color: var(--mucivi-white);
    box-shadow: 5px 5px 10px #00000042;
}

@media (max-width: 1199px) {
    .teaser-block .teaser-item-two-items  {
        flex-basis: 48%;
    }
}

@media (max-width: 991px) {
    .teaser-block .teaser-item-two-items  {
        flex-basis: 47%;
    }
}


@media (max-width: 767px) {
    .teaser-block .teaser-item-two-items {
        flex-basis: inherit;
    }
}

@media (max-width: 575px) {

}

/*design image link 3 items */
.teaser-block .teaser-item-three-items {
    flex-basis: 31.9%;
    flex-direction: column;
}

.teaser-block .teaser-item-three-items  img {
    background-color: var(--mucivi-white);
    box-shadow: 5px 5px 10px #00000042;
    border: 10px solid #FFF;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .teaser-block .teaser-item-three-items  {
        flex-basis: 31.6%;
    }
}

@media (max-width: 991px) {
    .teaser-block .teaser-item-three-items  {
        flex-basis: 47%;
    }
}


@media (max-width: 767px) {
    .teaser-block .teaser-item-three-items {
        flex-basis: inherit;
    }
}

@media (max-width: 575px) {

}

/*design image link multiple items */
.teaser-block .teaser-item-multiple-items {
    flex-basis: 23.5%;
    flex-direction: column;
}

.teaser-block .teaser-item-multiple-items img {
    background-color: var(--mucivi-white);
    box-shadow: 5px 5px 10px #00000042;
    border: 10px solid #FFF;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .teaser-block .teaser-item-multiple-items {
        flex-basis: 48%;
    }

}

@media (max-width: 991px) {
    .teaser-block .teaser-item-multiple-items {
        flex-basis: 47%;
    }
}


@media (max-width: 767px) {
    .teaser-block .teaser-item-multiple-items{
        flex-basis: inherit;
    }
}

@media (max-width: 575px) {

}

/* The Close Button */
.my-modal-teaser {
    z-index: 99991;
}
.modal-content {
    background-color: transparent;
    overflow: hidden;
    border: 0;
}
.modal-close {
    color: var(--mucivi-primary);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 2;
}

.modal-close:hover,
.modal-close:focus {
    color: var(--mucivi-white);
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: block;
    position: relative;
    height: 100vh;
    background: rgb(37 50 65 / 4%);
    backdrop-filter: blur(15.4px);
    -webkit-backdrop-filter: blur(15.4px);
    border: 1px solid rgba(37, 50, 65, 0.3);
    overflow: hidden;

}
.mySlides img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    transform: translate(-50%, -50%); /* CSS translation */
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px 16px 10px 16px;
    margin-top: -50px;
    color: var(--mucivi-primary);
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;

}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    padding: 2px 16px;
    color: white;
}

.active {
    opacity: 1;
}

.prev:hover,
.next:hover {
    text-decoration: none;
    color: white;
}

@media (min-width: 576px) {
    .modal {
        --bs-modal-margin: 1.75rem;
        --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        overflow: hidden;
    }
}

@media (max-width: 1199px) {
    .mySlides img {
        width: 70%;
        height: auto;
    }
}

@media (max-width: 575px) {
    .mySlides img {
        width: 75%;
        height: auto;
    }
}
/* END - Modal */



