.image-gallery-block img.img-block {
    width: 100%;
}

.image-gallery-block .img-block {
    /*padding: 0;*/
}

.container-fluid .img-block {
    padding: 0;
}

@media (max-width: 575px) {
    .container-fluid .img-block {
        padding: 0 20px;
    }
}