#text-block p.rich-text.left {
    text-align: left;
}

#text-block p.rich-text.right {
    text-align: right;
}

#text-block p.rich-text.center {
    text-align: center;
}

#text-block p.rich-text.justify {
    text-align: justify;
}

