section.text-block {
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;

}


section.text-block.bg-color-yellow p,
section.text-block.bg-color-gray p,
section.text-block.bg-color-black p,
section.text-block.bg-color-blue p,
section.text-block.bg-color-turquoise p,
section.text-block.bg-color-light-blue p,
section.text-block.bg-color-orange p,
section.text-block.bg-color-primary p
{
    margin-top: 10px;
    margin-bottom: 0;
}


.top-section {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.top-section img {
    width: 280px;
    height: auto;
    flex-shrink: 0;
}

.intro-text {
    flex: 1;
    min-width: 300px;
}

.bottom-text {
    margin-top: 20px;
}

p {
    text-align: justify;
    margin-bottom: 1em;
}
section.text-block.space-top-yes {
    padding-top: 150px;
}

section.text-block.space-bottom-yes {
    padding-bottom: 100px;
}

section.text-block.space-top-no {
    padding-top: 0;
}

section.text-block.space-bottom-no {
    padding-bottom: 0;
}

section.text-block .content-two-columns p.wp-block-gn-text-block {
    margin-top: 0px;
}

section.text-block .textBlock-text p strong {
   font-weight: var(--font-weight-600);
    font-size: 18px;
}

section.text-block .textBlock-text strong a{
    font-size: 16px;
}

section.text-block h1.textBlock-headline.style-2,
section.text-block h2.textBlock-headline.style-2,
section.text-block h3.textBlock-headline.style-2,
section.text-block h4.textBlock-headline.style-2,
section.text-block h5.textBlock-headline.style-2,
section.text-block h6.textBlock-headline.style-2,
section.text-block p.textBlock-headline.style-2 {
    color: var(--mucivi-primary);
}

section.text-block .textBlock-headline.left,
section.text-block div.textBlock-text p.left {
    text-align: left;
}

section.text-block .textBlock-headline.right,
section.text-block div.textBlock-text p.right {
    text-align: right;
}

section.text-block .textBlock-text .center {
    width: 80%;
    display: block;
    margin: 0 auto;
}

section.text-block .textBlock-headline.center,
section.text-block div.textBlock-text p.center {
    text-align: center;
}

section.text-block .textBlock-headline.justify,
section.text-block div.textBlock-text p.justify {
    text-align: justify;
}

.text-block .content-two-columns{
    width: 100%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}

.wp-block-gn-text-block img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.wp-block-gn-text-block {
    text-align: justify;
}


.text-block .text-block-html p{
    margin-bottom: 1rem;
}

.text-block .background-text {
    top: -320px;
    position: absolute;
    font-size: 420px;
    width: 100%;
    font-weight: 700;
    opacity: .02;
    overflow: hidden;
    z-index: 2;
    user-select: none;
    margin-left: -30px;
}

@media (max-width: 991px) {
    .text-block .content-two-columns{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .text-block .background-text {
        top: -210px;
        font-size: 300px;
        margin-left: -25px;
    }

    .text-block .text-block-html {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {

}



@media (max-width: 575px) {
    .wp-block-gn-text-block img {
        display: block;
        width: auto;
        margin: 0 auto 24px auto;
        float: none;
    }

    section.text-block .textBlock-text .center {
        width: 100%;
    }
    section.text-block {
       padding: 0 20px;
    }

}