section.quick-facts-block {
    padding: 25px 0;
}
section.quick-facts-block a.btn-full {
    width: 100%;
}

section.quick-facts-block hr.horizontal-line {
    width: 80%;
    opacity: 1;
    display: block;
    margin: 10px auto 10px auto;
}
section.quick-facts-block hr.horizontal-line.green{
    border-top: 7px solid var(--mucivi-green);
}

/*  white */
section.quick-facts-block hr.horizontal-line.white{
    border-top: 7px solid var(--mucivi-white);
}

/* black */
section.quick-facts-block hr.horizontal-line.black{
    border-top: 7px solid var(--mucivi-black);
}

section.quick-facts-block hr.horizontal-line.gray{
    border-top: 7px solid var(--mucivi-extra-light-gray);
}

/* blue */
section.quick-facts-block hr.horizontal-line.blue{
    border-top: 7px solid var(--mucivi-primary-dark);
}

/* turquoise */
section.quick-facts-block hr.horizontal-line.turquoise{
    border-top: 7px solid var(--mucivi-turquoise);
}

/* light blue */
section.quick-facts-block hr.horizontal-line.light-blue{
    border-top: 7px solid var(--mucivi-light-blue);
}

/* Yellow  */
section.quick-facts-block hr.horizontal-line.yellow{
    border-top: 7px solid var(--mucivi-yellow);
}

/* Orange  */
section.quick-facts-block hr.horizontal-line.orange{
    border-top: 7px solid var(--mucivi-orange);
}

/*  Red */
section.quick-facts-block hr.horizontal-line.red{
    border-top: 7px solid var(--mucivi-primary);
}


section.quick-facts-block .quick-fact-number {
    font-size: 70px;
    line-height: 60px;
    font-weight: var(--font-weight-700);
    font-family: var(--font-family-default);
}



section.quick-facts-block .quick-fact-text-2 {
    font-size: 25px;
    font-family: var(--font-family-default);
    font-weight: var(--font-weight-700);
}
section.quick-facts-block .quick-fact-text-3 {
    font-size: 18px;
    font-weight: var(--font-weight-600);
    font-family: var(--font-family-default);
}

section.quick-facts-block .quick-fact-number span.sign {
    line-height: 0;
}

section.quick-facts-block .quick-fact-number span.sign-sv {
    line-height: 0;
}



@media (max-width: 575px) {
    section.quick-facts-block {
        padding: 25px 20px;
    }
}
