.before-after-block .before-after-wrapper.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    align-items: start;
}
.before-after-block .before-after-slider-container {
    max-width: 100%;
}
.before-after-block .before-after-slider {
    width: 100%;
    height: auto;
    min-height: 300px;
}

.before-after-block h1.textBlock-headline,
.before-after-block h2.textBlock-headline,
.before-after-block h3.textBlock-headline,
.before-after-block h4.textBlock-headline,
.before-after-block h5.textBlock-headline,
.before-after-block h6.textBlock-headline,
.before-after-block p.textBlock-headline {
    font-size: 48px;
    line-height: 1;
}

.before-after-block h1.textBlock-headline.style-2,
.before-after-block h2.textBlock-headline.style-2,
.before-after-block h3.textBlock-headline.style-2,
.before-after-block h4.textBlock-headline.style-2,
.before-after-block h5.textBlock-headline.style-2,
.before-after-block h6.textBlock-headline.style-2,
.before-after-block p.textBlock-headline.style-2 {
    font-size: 27px;
    line-height: 1;
    color: var(--mucivi-primary);
}

@media (max-width: 1250px) {
    .before-after-block .before-after-wrapper.grid {
        grid-template-columns: 1fr; /* Mobile default: full width */
    }
}

@media (max-width: 767px) {
    .before-after-block h1.textBlock-headline,
    .before-after-block h2.textBlock-headline,
    .before-after-block h3.textBlock-headline,
    .before-after-block h4.textBlock-headline,
    .before-after-block h5.textBlock-headline,
    .before-after-block h6.textBlock-headline,
    .before-after-block p.textBlock-headline {
        font-size: 24px;
    }

    .before-after-block h1.textBlock-headline.style-2,
    .before-after-block h2.textBlock-headline.style-2,
    .before-after-block h3.textBlock-headline.style-2,
    .before-after-block h4.textBlock-headline.style-2,
    .before-after-block h5.textBlock-headline.style-2,
    .before-after-block h6.textBlock-headline.style-2,
    .before-after-block p.textBlock-headline.style-2 {
        font-size: 18px;
        color: var(--mucivi-primary);
    }

}

@media (max-width: 575px) {
    .before-after-block .before-after-slider {
        min-height: auto;
    }
    .before-after-block {
        padding: 0 30px;
    }
}