.section-hexagons{
    overflow: hidden;
}

.honeycomb-section {
    background: linear-gradient(to bottom, #fff, #f0f0f0) no-repeat;
    background-size: cover;
    background-origin: border-box;
    overflow-x: hidden;
    height: 1100px;
}

.honeycomb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.honeycomb .gn-row {
    display: flex;
    justify-content: center;
    margin-bottom: -140px;
    flex-wrap: nowrap;
}

.honeycomb .gn-row:nth-child(2) {
    margin-left: -505px;
}

.hexagon {
    height: 550px;
    width: 500px;
    margin: 5px;
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.hexagon.hexagon-row-2-5{
    z-index: 10;
}


/*    padding: 0 10px;*/
/*}*/
.honeycomb-section h2.hexagon-title.gn-h3.break-text{
    text-align: justify;
    hyphens: auto; /* Standard */
    -webkit-hyphens: auto; /* For Safari and older versions of Chrome */
    -ms-hyphens: auto; /* For Internet Explorer 10+ */
}

.honeycomb-section h2.hexagon-title.gn-h3 {
    font-weight: 400;
    padding-top: 20px;
}

.honeycomb-section p.hexagon-description {
    padding: 20px 70px;
}

@media (max-width: 991px) {
    .honeycomb-section.honeycomb-section-mobile {
        display: flex !important;
        flex-direction: column;
        padding: 0 0 50px 0;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: auto;
    }

    .honeycomb-section .honeycomb-mobile-column .hexagon {
        height: 550px;
        width: 500px;
        margin: 5px;
        -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .honeycomb-section .honeycomb-mobile-column .hexagon img {
        max-width: 80%;
        height: auto;
    }
}


/*hexagons small */
.section-hexagons.hexagon-small-class {
    margin-bottom: -120px;
}
.honeycomb-section-small {
    background: linear-gradient(to bottom, #fff, #f0f0f0) no-repeat;
    background-size: cover;
    background-origin: border-box;
    overflow: hidden;
    height: 650px;
    user-select: none;
    z-index: 10;
}

.honeycomb-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

.honeycomb-small .gn-row-small {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.honeycomb-small .gn-row-small:nth-child(2) {
    margin-left: -310px;
    margin-top: -85px;
}

.hexagon-small {
    height: 344px;
    width: 298px;
    background-color: #fff;
    margin: 5px;
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: grab;
}

.honeycomb-small.active {
    cursor: grabbing;
}


.hexagon-small img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 70px;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

/*    padding: 0 10px;*/
/*}*/
.honeycomb-section-small h2.hexagon-title.gn-h3.break-text{
    text-align: justify;
    hyphens: auto; /* Standard */
    -webkit-hyphens: auto; /* For Safari and older versions of Chrome */
    -ms-hyphens: auto; /* For Internet Explorer 10+ */
}

.honeycomb-section-small h2.hexagon-title.gn-h3 {
    font-weight: 400;
    padding-top: 20px;
}

.honeycomb-section-small p.hexagon-description {
    padding: 20px 70px;
}


@media (max-width: 991px) {

}

/* type post */
/* Hexagons */
#hexGrid {
    width: 90%;
    margin: 0 auto;
    padding: 0.866% 0;
    font-family: var(--font-family-default);
    font-size: 15px;
}

#hexGrid:after {
    content: "";
    display: block;
    clear: both;
}

.hex {
    position: relative;
    list-style-type: none;
    float: left;
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent;  /* fix for jagged edges in FF on hover transition */
    transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}

.hex * {
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent;  /* fix for jagged edges in FF on hover transition */
}

.hexIn {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    transform: skewY(-30deg) rotate(60deg);
}


/*** HEX CONTENT **********************************************************************/

.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.hex h2,
.hex p,
.hex .hex-btn{
    margin: 0;
    width: 102%;
    left: -1%;  /* prevent line on the right where background doesn't cover image */
    padding: 5%;
    box-sizing: border-box;
    background-color: rgba(213, 16, 48, 0.65);
    font-weight: 300;
    transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex h2 {
    bottom: 50%;
    padding-top: 50%;
    padding-bottom: 80px;
    font-size: 25px;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%) translatez(-1px);
}

.hex h2.gn-h3 span {
    margin-top: 100px;
    padding: 0 40px;
}

.hex p {
    top: 50%;
    padding-bottom: 50%;
    transform: translateX(100%) translatez(-1px);
}

.hex .hex-btn {
    display: none;
    position: absolute;
    top: 75%; /* pak më poshtë se p */
    left: -1%;
    width: 102%;
    padding: 5%;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    transform: translateX(150%) translatez(-1px);
    transition: transform .2s ease-out, opacity .3s ease-out;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
}

.hex .hex-btn:hover {
    background-color: var(--mucivi-primary-dark);
}




/*** HOVER EFFECT  **********************************************************************/

.hexIn:hover h2, .hexIn:hover p, .hexIn:hover .hex-btn {
    color: #fff;
    transform: translateX(0%) translatez(-1px);
}

.hexIn:hover .hex-btn {
        display: block;
}
.hexIn.active h2,
.hexIn.active p,
.hexIn.active .hex-btn{
    transform: translateX(0%) translatez(-1px);
}

.hexIn.active .hex-btn{
    display: block;
}


/*** SPACING AND SIZING *****************************************************************/

@media (min-width:1201px) {  /* <- 2-3  hexagons per row */
    .hex {
        width: 32.666%;    /* = (100-2) / 3 */
        padding-bottom: 37.720%;    /* =  width / sin(60) */
    }
    .hex:nth-child(5n+1),
    .hex:nth-child(5n+2) {
        transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(5n+3),
    .hex:nth-child(5n+4),
    .hex:nth-child(5n+5) {
        margin-top: -8.564%;
        margin-bottom: -8.564%;
    }
    .hex:nth-child(5n+2),
    .hex:nth-child(5n+4) {
        margin-right: 1%;
        margin-left: 1%;
    }
    .hex:nth-child(5n+1) {
        margin-left: 0.5%;
    }
    .hex:nth-child(5n+3),
    .hex:nth-child(5n+6) {
        clear: left;
    }
}
@media only screen and (max-width: 1199px) {
    #hexGrid {
         margin-bottom: 150px;
    }
}
@media (max-width: 1200px) {  /* <- 1-2  hexagons per row */
    .hex {
        width: 49.5%;    /* = (100-1) / 2 */
        padding-bottom: 57.158%;    /* =  width / sin(60) */
    }
    .hex:nth-child(3n+1) {
        transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(3n+2),
    .hex:nth-child(3n+3) {
        margin-top: -13.423%;
        margin-bottom: -13.423%;
    }
    .hex:nth-child(3n+1) {
        margin-left: 0.5%
    }
    .hex:nth-child(3n+3) {
        margin-left: 1%;
    }
    .hex:nth-child(3n+2),
    .hex:nth-child(3n+4) {
        clear: left;
    }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}

/* End Hexagons */
/* fork on github button */
#fork{
    font-family: var(--font-family-default);
    position:fixed;
    top:0;
    left:0;
    color:#000;
    text-decoration:none;
    border:1px solid #000;
    padding:.5em .7em;
    margin:1%;
    transition: color .5s;
    overflow:hidden;
}
#fork:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 130%; height: 100%;
    background: #000;
    z-index: -1;
    transform-origin:0 0 ;
    transform:translateX(-100%) skewX(-45deg);
    transition: transform .5s;
}
#fork:hover {
    color: #fff;
}
#fork:hover:before {
    transform: translateX(0) skewX(-45deg);
}


@media (max-width: 767px) {

    .hexIn h2.gn-h3{
        font-size: 20px;
    }
    .hex h2.gn-h3 span {
        margin-top: 75px;
    }

    .hex .hex-btn {
        top: 65%;
    }
    p.hex-in-description {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}



@media (max-width: 606px) {
    .hex h2.gn-h3 span {
        margin-top: 100px;
    }

}

@media (max-width: 570px) {
    .hexIn h2.gn-h3 {
        font-size: 16px;
    }

    .hex h2 {
        padding-bottom: 60px;
    }

}

@media (max-width: 420px) {
    .hex .hex-btn {
        top: 60%;
        font-size: 16px;
    }

    .hex h2 {
        padding-bottom: 45px;
    }

    .hex h2.gn-h3 span {
        margin-top: 83px;
    }

    p.hex-in-description {
        font-size: 0;
    }

}